
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar-container {
    position: relative;
  }
  
  .navbar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(45deg, #6a11cb, #2575fc);;
    z-index: 1000; 
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
  }
  
  .navbar-nav {
    display: flex;
    gap: 2rem;
  }
  
  .navbar-nav a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navbar-nav a:hover {
    color: #f39c12;
  }
  
  /* Hamburger menu styles */
  .hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  
  .hamburger .line {
    width: 30px;
    height: 3px;
    background-color: white;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .hamburger .line1.active {
    transform: rotate(45deg) translateY(8px);
  }
  
  .hamburger .line2.active {
    opacity: 0;
  }
  
  .hamburger .line3.active {
    transform: rotate(-45deg) translateY(-8px);
  }
  

  @media (max-width: 768px) {
    .navbar-nav {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      background: #292929;
      width: 100%;
      padding: 1rem 0;
      flex-direction: column;
      text-align: center;
    }
  
    .navbar-nav.open {
      display: flex;
    }
  
    .hamburger {
      display: flex;
    }
  }
  
  /* Add padding-top for body content to prevent navbar overlap */
  body {
    padding-top: 70px; 
  }
  